@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.wrapper-quote {
  width: 100%;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 15px;
  margin-bottom: 1.3rem;
  border-left: 4px solid #5372f0;
}

.wrapper-quote header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.wrapper-quote .content {
  margin: 35px 0;
}

.content .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area i {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.quote-area i:first-child {
  margin: 5px 15px 0 0;
}

.quote-area i:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 20px 15px;
}

.quote-area .quote {
  font-size: 22px;
  text-align: center;
  word-break: break-all;
  color: #000;
}

.content .author {
  display: flex;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  justify-content: flex-end;
}

.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}

.author span.name {
  color: #000;
}

.wrapper-quote .buttons {
  border-top: 1px solid #ccc;
}

.buttons .features {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.features ul {
  display: flex;
}

.features ul li {
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #5372f0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #5372f0;
  transition: all 0.3s ease;
}

.features ul li:hover {
  color: #fff;
  background: #5372f0;
}

.features button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-style: 16px;
  padding: 13px 22px;
  border-radius: 30px;
  background: #5372f0;
}

button.loading {
  opacity: 0.7;
  pointer-events: none;
}
